<%- include("../partials/header") %>

<main class="text-center py-4">
  <h1>Oops, vous n'avez pas les autorisations pour entrer ici !<h1>
  <p>Il faut que tu <a href="/login">te connectes</a> pour aller ici !</p>
</main>

<%- include("../partials/footer") %>
